{% extends 'include/index.html' %}
{% block content %}
    <p class="m-5">
    <a href="{% url 'admin_home' %}" type="button" style="float:left;" class="btn btn-primary">
            <span class="glyphicon glyphicon-backward"></span>
              Back
        </a>
    </p>

    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>All Birth Day Certificate Information</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="datatable-buttons" class="table table-striped table-bordered"
                                   style="width:100%">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Father Name</th>
                                    <th>Mother Name</th>
                                    <th>Birth Registration Number</th>
                                    <th>Birth Date</th>
                                    <th>Gender</th>
                                    <th>Verify</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for birth_day in all_birth_day_certificate %}
                                    <tr>
                                        <td>{{ birth_day.name }}</td>
                                        <td>{{ birth_day.father_name }}</td>
                                        <td>{{ birth_day.mother_name }}</td>
                                        <td>{{ birth_day.birth_registration_number }}</td>
                                        <td>{{ birth_day.birth_date }}</td>
                                        <td>{{ birth_day.gender }}</td>
                                        <td>{{ birth_day.is_verified }}</td>
                                        <td>
                                            {% if birth_day.is_verified %}
                                            {% else %}
                                                <a data-toggle="modal" data-target="#delete{{ birth_day.id }}">
                                                    Verified
                                                </a>
                                            {% endif %}
                                        </td>
                                        <!-- Verified Modal -->
                                        <div class="modal fade DeleteModal" id="delete{{ birth_day.id }}"
                                             tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
                                             aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <form method="post"
                                                          action="{% url 'birth_day_certificate_verified' birth_day.id %}"
                                                          enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <div class="modal-body text-center p-3">
                                                            <h5 class="mt-4">Are you sure to Verify this Birthday Certificate?</h5>
                                                        </div>
                                                        <div class="modal-footer"
                                                             style="border:none !important; border: none !important;">
                                                            <button type="button" class="btn btn-sm btn-primary"
                                                                    data-dismiss="modal">No
                                                            </button>
                                                            <button type="submit" class="btn btn-sm btn-danger">Yes
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {#    <script>#}
    {#        console.log('javascript work')#}
    {#        buttonSend = document.getElementById('skill_save')#}
    {#        buttonSend.addEventListener("click", async () => {#}
    {#            await sendForm()#}
    {#        })#}
    {#        const sendForm = async () => {#}
    {#            console.log('sendForm is work')#}
    {#            const skill_name = document.getElementById('skill_name').value#}
    {#            const skill_level = document.getElementById('skill_level').value#}
    {#            console.log('skill name = ', skill_name)#}
    {#            console.log('skill level = ', skill_level)#}
    {#        }#}
    {#    </script>#}
{% endblock %}