{% extends 'include/index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <p class="m-5">
    {% if request.user.is_superuser %}
        <a href="{% url 'admin_home' %}" type="button" style="float:left;" class="btn btn-primary">
            <span class="glyphicon glyphicon-backward"></span>
              Back
        </a>
    {% else %}
        <a href="{% url 'user_home' %}" type="button" style="float:left;" class="btn btn-primary">
            <span class="glyphicon glyphicon-backward"></span>
              Back
        </a>
    {% endif %}
    </p>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Change Password <small>Information</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <form enctype="multipart/form-data" method="POST"
                              action="{% url 'change_password' %}">
                            {% if message %}
                                <h3 style="color: red">{{ message }}</h3>
                            {% endif %}
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="old_password" class="col-form-label">Old Password:</label>
                                <input type="password" class="form-control" id="old_password" name="old_password">
                            </div>
                            <div class="form-group">
                                <label for="new_password" class="col-form-label">New Password:</label>
                                <input type="password" class="form-control" id="new_password" name="new_password">
                            </div>
                            <div class="form-group">
                                <label for="confirm_password" class="col-form-label">Confirm Password:</label>
                                <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                            </div>
                            <button type="submit" class="btn btn-primary">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}